/* 追加CSS */

th {
  text-align: center;
  font-weight: bold;
}

.td_center {
  text-align: center;
}

.tx_loading {
  font-size: 20px;
  font-weight: bold;
  color: #87BC7A;
  -webkit-animation:blink 0.5s ease-in-out infinite alternate-reverse;
  -moz-animation:blink 0.5s ease-in-out infinite alternate-reverse;
  animation:blink 0.5s ease-in-out infinite alternate-reverse;
}

.inline-block {
  display: inline-block;
}

.fadeIn {
  -webkit-animation:blink 0.5s ease-in-out infinite alternate-reverse;
  -moz-animation:blink 0.5s ease-in-out infinite alternate-reverse;
  animation:blink 0.5s ease-in-out infinite alternate-reverse;
}

.img_reload {
  margin-bottom: 20px;
  text-align: center;
}

.img_reload img {
  cursor: pointer;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  -webkit-animation: spin 6s linear infinite reverse;
  -moz-animation: spin 6s linear infinite reverse;
  -ms-animation: spin 6s linear infinite reverse;
  -o-animation: spin 6s linear infinite reverse;
  animation: spin 6s linear infinite reverse;
}

.tx_reload {
  font-size: 20px;
  font-weight: bold;
  color: #87BC7A;
  -webkit-animation:blink 0.25s ease-in-out infinite alternate-reverse;
  -moz-animation:blink 0.25s ease-in-out infinite alternate-reverse;
  animation:blink 0.25s ease-in-out infinite alternate-reverse;
}

.fm_text {
  margin:0 0 0 32px;
}

.tx_link {
  text-decoration: underline;
  cursor: pointer;
}

.bt_link {
  cursor: pointer;
}

.fm_search {
  width: 120px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #000;
}

.abs {
  position: absolute;
  margin: 0;
  padding: 0;
}

.input-range[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #eaeaea;
  height: 2px;
  width: 100%;
  border-radius: 6px;
}

.input-range[type="range"]:focus,.input-range[type="range"]:active {
  outline: none;
}

.input-range[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 22px;
  display: block;
  background-color: #07be19;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.deco h5{
  position: relative;
  font-size:24px;
  font-weight: bold;
  padding: 0.25em 0;
}
.deco h5:after {
  content: "";
  display: block;
  height: 4px;
  background: -moz-linear-gradient(to right, rgb(50, 205, 50), transparent);
  background: -webkit-linear-gradient(to right, rgb(50, 205, 50), transparent);
  background: linear-gradient(to right, rgb(50, 205, 50), transparent);
}

.deco label{
  font-size:14px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left:30px;
  margin:0;
  line-height: 38px;
}

.deco label:before{
  content:'';
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  height:12px;
  width:12px;
  display:block;
  position:absolute;
  top:14px;
  left:7px;
  background-color:#07be19;
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset;
  filter:alpha(opacity=50);
  -moz-opacity:0.50;
  -khtml-opacity: 0.50;
  opacity:0.50;
  z-index: 1;
}

.deco label:after{
  content:'';
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  height:15px;
  width:15px;
  display:block;
  position:absolute;
  top:7px;
  left:2px;
  background-color:#07be19;
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset
}

.deco .box{
  padding: 1.5em 1em;
  margin: 2em 0 1em 0;
  color: #474747;
  background: whitesmoke;/*背景色*/
  border-left: double 7px #07be19;/*左線*/
  border-right: double 7px #07be19;/*右線*/
}
.deco .box p {
  margin: 0;
  padding: 0;
  font-size:18px;
}

.btn-img:hover {
  opacity:0.5;
  cursor: pointer;
}

.btn-img:active{
  position: relative;
  top: 3px;
}

/* モーダルウィンドウ */
.modal-info-left {
  display: inline-block;
  width: 49%;
  text-align: right;
  margin-bottom: 5px;
  padding-right: 10px;
}

.modal-info-right {
  display: inline-block;
  width: 49%;
  margin-bottom: 5px;
  padding-left: 7px;
}

/* ダッシュボード */
.btn-use-area button{
  margin:10px 10px 10px 0;
  padding: 20px 30px;
  font-size: 24px;
}

/* プロジェクト登録 */
.fm_project .select-add-form-area{
  display: table;
  width: 100%;
}

.fm_project .select-add-form-select-area {
  display: table-cell;
}

.fm_project .select-add-form-add-area {
  display: table-cell;
  padding-left: 10px;
}

.fm_project .select-start-time {
  margin-bottom: 20px;
}

.fm_project .checkbox-area label{
  padding-left: 2px;
  padding-right: 10px;
}

.fm_project .checkbox-area input[type=radio]{

}

/* プロジェクト詳細 */
.project-info-left {
  display: inline-block;
  width: 49%;
  text-align: right;
  margin-bottom: 5px;
  padding-right: 10px;
}

.project-info-right {
  display: inline-block;
  width: 49%;
  margin-bottom: 5px;
  padding-left: 7px;
}

.project-show-table table{
  border-collapse:collapse;
  margin:0 auto;
}
.project-show-table th{
  border-bottom:2px solid #000;
}
.project-show-table td,th{
  padding:10px;
}

/* 顧客一覧 */
.table-client .btn_edit{
  padding: 3px 7px;
}

.table-client .tx-client_name .black-icon{
  display: inline-block;
  margin: 0 0 -2px 0;
  width: 20px;
  height: 14px;
  background: url(../img/icon/black.png) no-repeat;
  background-position:left center;
  background-size:15px 14px;
}

.modal-content .fm_text{
  margin:0;
}

.modal-client .modal-content .modal-table{
  width: 100%;
  border: 1px #999999 solid;
}

.modal-client .modal-content .modal-table td{
  width : 33%;
  padding: 3px 0;
  text-align: center;
  border-left: 1px #999999 solid;
}

/* 請求一覧 */
.table-bill .btn-edit{
  padding: 3px 7px;
}

.modal-bill .btn-doc-area{
  text-align: center;
  margin: 10px 0;
}
.modal-bill .modal-content .btn-doc-area button{
  margin: 0 10px 20px 10px;
}

.modal-bill .modal-content .modal-table{
  width: 100%;
  border: 1px #999999 solid;
}

.modal-bill .modal-content .modal-table td{
  width : 33%;
  padding: 3px 0;
  text-align: center;
  border-left: 1px #999999 solid;
}

.modal-bill .modal-content .pay-area {
  margin-bottom: 20px;
    text-align: center;
}

.modal-bill .modal-content .pay-area .fm-pay-area{
  margin: 0 20px;
}

.modal-bill .modal-content .pay-area .btn-pay{
  padding: 3px 20px;
}

/* 社員一覧 */
.table-account .btn-edit{
  padding: 3px 7px;
}

/* 利用日当日 */
.use .panel-title{
  margin-bottom: 10px;!important;
}

.use .checkbox-area{
  margin-top: 10px;
}

.use .checkbox-area input[type=checkbox]{
  padding-right: 10px;
}

.use .checkbox-area label{
  display: block;
  margin: 10px 0;
  padding: 0;
  line-height: 20px;
  font-size: 12px;
}

.use .checkbox-area label:before{
  content:none;
}
.use .checkbox-area label:after{
  content:none;
}

.use .btn-area{
  margin-top: 20px;
  text-align: center;
}

.use .select-time-area{
  /*background-color: #0a68b4;*/
}

.use .select-time-area label{
  display: block;
}

.use .select-time-area .calc-fee-area {
  text-align: center;
}

.use .comment-area {

}

.use .comment-area textarea{
  width: 100%;
  height: 5em;
}

.use .penalty-area{
  margin-top: 10px;
}

.cp_ipselect {
  overflow: hidden;
  width: 90%;
  margin: 10px auto;
  /*text-align: center;*/
}
.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.cp_ipselect select::-ms-expand {
  display: none;
}
.cp_ipselect.cp_sl01 {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}





/*デバイス登録*/
.add_devices td {
  padding: 5px 0 5px 20px;
}

.add_devices td input[type=number] {
  width: 3em;
}

/*デバイス詳細*/
.select_sensor {
  margin-bottom: 20px;
}

.span_switch input {
  display:none;
}
.span_switch label {
  display:inline-block;
  width:33%;
  padding:10px 0 9px;
  border-top:1px solid #aaa;
  border-right:1px solid #b5b6b5;
  border-bottom:1px solid #999;
  text-align:center;
  font-weight:bold;
  font-family:sans-serif;
  color:#7f7f7f;
  background:-webkit-linear-gradient(top, #fcfcfc, #ccc);
  text-shadow:0 1px 0 #fff;
  box-shadow:inset 1px 0 0 #f6f6f6;
  cursor:pointer;
}
.span_switch label:first-of-type {
  border-left:1px solid #b5b6b5;
  -webkit-border-top-left-radius:7px;
  -webkit-border-bottom-left-radius:7px;
}
.span_switch label:last-of-type {
  border-left:1px solid #b5b6b5;
  -webkit-border-top-right-radius:7px;
  -webkit-border-bottom-right-radius:7px;
}
.span_switch label.checked {
  background:-webkit-linear-gradient(top, #3c77da, #407ee6 49%, #4d89e8 50%, #7aaceb);
  box-shadow:inset 0 7px 8px rgba(0,0,0,0.37);
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.3);
}

table.tbl_user.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.tbl_user.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  top: 15px;!important;
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
  0% {-ms-transform: rotate(0deg);}
  100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
  0% {-o-transform: rotate(0deg);}
  100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@-webkit-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}

@media screen and (max-width: 1181px) {
  .responsive_login img{
    width: 90%;
    height: auto;
  }

  .responsive-display {
    display: none;
  }

  .responsive-display-inline {
    display: none;
  }

  .responsive-display-graph {
    margin:10px 20px;
  }

  .responsive-display-board {
    margin:10px 20px;
  }

  .panel-dashboard .responsive-display-board {
    display: none;
  }
}
@media screen and (min-width:1182px) {
  .responsive_login img{
    width: 500px;
    height: auto;
  }

  .responsive-display {
    display: block;
  }

  .responsive-display-inline {
    display: inline;
  }

  .responsive-display-graph {
    display: table-cell;width: 70%;padding: 10px 3%;
  }

  .responsive-display-board {
    display: table-cell;width:30%;padding: 0px 2%;vertical-align: middle;
  }

}

/* ユーザー */
.panel-user-index ul.dtr-details > li {
  max-width: 160px;!important;
  word-wrap:break-word;
}